
<div class="container">
	<h2>Product Detail</h2>
	
	<div class="row">
		<div class="col-md-2"><b>Name:</b></div>
		<div class="col-md-6">{{product.name}}</div>
	</div>
	
	<div class="row">
		<div class="col-md-2"><b>Model:</b></div>
		<div class="col-md-6">{{product.model}}</div>
	</div>
	
	<div class="row">
		<div class="col-md-2"><b>Year:</b></div>
		<div class="col-md-6">{{product.year}}</div>
	</div>
	
	<div class="row">
		<div class="col-md-2"><b>Price:</b></div>
		<div class="col-md-6">{{product.price}}</div>
	</div>
	
	<div class="row">
		<div class="col-md-2"><b>Producer:</b></div>
		<div class="col-md-6">{{product.producer}}</div>
	</div>
	
	<div class="row">
		<div class="col-md-2"><b>Available:</b></div>
		<div class="col-md-6">{{product.available}}</div>
	</div>
	
	<div class="row">
		<div class="col-md-2"><b></b></div>
		<div class="col-md-6">
			<a href="#/mainstore" class="btn btn-primary">Back to Main Store</a>
		</div>
	</div>
	
	
</div>
